.Window {
    min-width: 400px;
    padding: 5px;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    z-index: 9;
}

.WindowBlur {
    min-width: 400px;
    padding: 5px;
    position: absolute;
    left: 0vw;
    top: 0vh;
    min-width: 400px;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    z-index: 1;
}

.WindowMobile {
    padding: 5px;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    z-index: 9;
    overflow-y: visible;
}

.WindowBlurMobile {
    padding: 5px;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    z-index: 1;
}

.Header {
    grid-area: 'header';
    
}

.Content {
    grid-area: 'content';
}