.Registration {
    position: absolute;
    left: 25vw;
    top: 10vh;
    width: 35vw;
    min-width: 550px;
    min-height: 575px;
    height: 73%;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "button";
    grid-template-rows: 10vh 57vh;
    grid-template-columns: 100%;
    padding: 5px;
    z-index: 2;
}

.Header {
    grid-area: 'header';
    padding: 15px;
}

.Content {
    grid-area: 'content';
    padding: 15px;
}