@font-face {
    font-family: 'Pixsel';  
    src: url('../../../FontStyls/MainStyle.ttf') format("truetype");
}

.Footer {
    position:fixed;
    bottom:0;
    width: 100%;
    height: 6vh;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}

.StartButton {
    position: absolute;
    left: 6px;
    bottom: 4px;
    width: 13vh;
    height: 80%;
    background: #C3C3C3;
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E, inset 2px 2px 0px #B1B1B1;
}

.StartButton:active {
    padding: -2px;
    box-shadow: inset -2px -2px 0px #F0F0F0, inset 2px 2px 0px #262626, inset -4px -4px 0px #7E7E7E;
}

.WindowsLogo {
    padding: 5%;
    position: absolute;
    left: 1%;
    width: 3.5vh;
    bottom: -0.1vh;
}

.WindowsLable {
    font-family: 'Pixsel2', arial;
    font-size: 2.5vh;
    position: absolute;
    bottom: 20%;
    left: 45%;
}

.AddInfo {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 27vh;
    height: 80%;
    background: #C3C3C3;
    box-shadow: inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0, inset 4px 4px 0px #7E7E7E;
}

.BsuirLogo {
    position: absolute;
    top: 25%;
    left: 5px;
    height: 55%;
}

.Vk {
    position: absolute;
    top: 20%;
    left: 42%;
    height: 60%;
}

.KsisLogo {
    top: 15%;
    left: 23%;
    height: 75%;
    position: relative;
}

.Years {
    font-family: 'Pixsel', arial;
    font-size: 2.2vh;
    position: absolute;
    top: 15%;
    right: 5%;
}
