.Header {
    grid-area: header;
    background-color: #C3C3C3;
    display: grid;
    grid-template-areas: 
    "MainHeader"
    "Munu";
    grid-template-rows: 50% 50%;

}

.MainHeader {
    grid-area: MainHeader;
    background-color: #02007F;
    color: white;
}

.Menu {
    grid-area: Munu;
    box-shadow: inset 0px -2px 0px #F0F0F0, inset 0px 0px 0px #F0F0F0, inset 0px -4px 0px #7E7E7E;
}

.MenuItem {
    font-family: 'Pixsel2', arial;
    padding-left: 25px;
    position: relative;
    bottom: 0px;
    width: 300px;
    
}

.ButtonPack {
    position: absolute;
    right: -50px;
    top: 1.3vh;
    display: grid;
    grid-template-areas: 
    "CollapseButton ExpandButton SwitchOffButton";
    width: 15vh;
    grid-template-columns: 3.5vh 3.5vh 3.5vh;
    grid-template-rows: 3.5vh;
    grid-column-gap: 0.5vh;
}

.CollapseButton {
    background-size: 100% 100%;
    grid-area: "CollapseButton";
    border: none;
    background-image: url('./../../../../Images/CollapseButton.svg');
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}
.CollapseButton:active {
    position: relative;
    top: 1px;
    box-shadow: inset -2px -2px 0px #7E7E7E, inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0;
}


.SwitchOffButton {
    background-size: 100% 100%;
    grid-area: "SwitchOffButton";
    border: none;
    background-image: url('./../../../../Images/SwitchOffButton.svg');
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}
.SwitchOffButton:active {
    position: relative;
    top: 1px;
    box-shadow: inset -2px -2px 0px #7E7E7E, inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0;
}


.ExpandButton {
    background-size: 100% 100%;
    grid-area: "ExpandButton";
    border: none;
    background-image: url('./../../../../Images/ExpandButton.svg');
    box-shadow: inset -2px -2px 0px #262626, inset 2px 2px 0px #F0F0F0, inset -4px -4px 0px #7E7E7E;
}
.ExpandButton:active {
    position: relative;
    top: 1px;
    box-shadow: inset -2px -2px 0px #7E7E7E, inset 2px 2px 0px #262626, inset -2px -2px 0px #F0F0F0;
}    

@media screen and (max-height: 2000px) {
    .MenuItem {
        font-size: 35px;
    }
}

@media screen and (max-height: 1200px) {
    .MenuItem {
        font-size: 25px;
    }
}

@media screen and (max-height: 900px) {
    .MenuItem {
        font-size: 21px;
    }
}

@media screen and (max-height: 600px) {
    .MenuItem {
        font-size: 18px;
    }
}

.MainHeader img {
    position: relative;
    top: 15%;
    left: 7px;
    height: 75%;
}

.Lable {
    font-family: 'Pixsel', arial;
    font-size: 2.3vh;
    position: relative;
    height: 60%;
    bottom: 2px;
    padding-left: 15px;
}