.Navbar {
    padding: 1.5%;
    width: 120px;
}

.Link {
    text-decoration: none;
}


.Image {
    text-align: center;
}

.text {
    font-family: 'Pixsel', arial;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CoousingText {
    font-family: 'Pixsel', arial;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000EA3;
    color: aliceblue;
}

.CoousingImg {
    border: 1px dashed #000000;
    padding: 5px;
    height: 20%;
}