.Navbar {
    position: relative;
    padding: 1.5%;
    width: 120px;
}

.Link {
    text-decoration: none;
}

.Registr {
    padding: 1.5%;
    position: absolute;
    top: 110px;
    left: 130px;
}

.Kubok {
    padding: 1.5%;
    position: absolute;
    top: 9px;
    left: 115px;
    width: 100px;
}

.Kubok img {
    width: 45%;
}

.Bin {
    padding: 1.5%;
    position: absolute;
    bottom: 6vh;
    right: 5px;
}

.Image {
    text-align: center;
}

.text {
    font-family: 'Pixsel', arial;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CoousingText {
    font-family: 'Pixsel', arial;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000EA3;
    color: aliceblue;
}

.CoousingImg {
    border: 1px dashed #000000;
    padding: 5px;
    height: 20%;
}